header {
  margin: 0;
  padding: 0;
}

.navbar {
    margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 1rem 2rem;
  border-radius: 0 0 10px 10px;
  margin-bottom: 2rem;
}

.navbar h1 {
  color: #f1c27d;
  margin: 0;
  font-size: 2rem;
}

.navbar .links a {
  color: #fff;
  text-decoration: none;
  margin-left: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: all 0.2s;
}

.navbar .links a:hover {
  background: #f1356d;
  color: #fff;
}